<h2>Login</h2>

<form id='new' action="/login?_method=put" method="post" name='newForm'>

  <label class='label' for="email">Email</label>
  <input class='new' type="text" value="" name="email" placeholder="email" required>
  <label class='label' for="password">password</label>
  <input class='new' type="text" value="" name="password" placeholder="password" required>
  
  <input id='newStuff' type="submit" value="Create">
</form>